# Tutorial
### Source: http://docs.sqlalchemy.org/en/latest/orm/tutorial.html

#### Import and check version

In [3]:
import sqlalchemy
from pprint import pprint

In [4]:
sqlalchemy.__version__

'1.2.1'

#### Create an engine through which connections are made to the DB

In [5]:
from sqlalchemy import create_engine

In [6]:
# echo=True to enable logging via Python's standard logging module
engine = create_engine('postgresql://postgres:welcome1@localhost:5432/learn_sqlalchemy', echo=True)

/home/sidharth/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

#### Set logging level to show backend SQL commands while executing SQLAlchemy's Python methods

In [7]:
import logging
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

### Declare a mapping

Classes map to tables in the database. Declarative allows us to create classes that include directives to describe the actual database table they will be mapped to. Classes mapped using the Declarative system are defined in terms of a base class which maintains a catalog of classes and tables relative to that base - this is known as the declarative base class. Our application will usually have just one instance of this base in a commonly imported module. We create the base class using the declarative_base() function

In [8]:
from sqlalchemy.ext.declarative import declarative_base

In [9]:
Base = declarative_base()

In [10]:
from sqlalchemy import Column, Integer, String

In [11]:
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    password = Column(String)
    
    def __repr__(self):
        return '<User(name={}, password={})>'.format(self.name, self.password)

When our class is constructed, Declarative replaces all the Column objects with special Python accessors known as descriptors; this is a process known as instrumentation. The “instrumented” mapped class will provide us with the means to refer to our table in a SQL context as well as to persist and load the values of columns from the database.

#### Access 'table' metadata

In [12]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('password', String(), table=<users>), schema=None)

When we declared our class, Declarative used a Python metaclass in order to perform additional activities once the class declaration was complete; within this phase, it then created a Table object according to our specifications, and associated it with the class by constructing a Mapper object.

In [13]:
User.__mapper__

This object is a behind-the-scenes object we normally don’t need to deal with directly (though it can provide plenty of information about our mapping when we need it).

In [14]:
dir(User.__mapper__)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_acceptable_polymorphic_identities',
 '_adapt_inherited_property',
 '_add_with_polymorphic_subclass',
 '_all_pk_props',
 '_all_tables',
 '_canload',
 '_clause_adapter',
 '_cols_by_table',
 '_columntoproperty',
 '_compiled_cache',
 '_compiled_cache_size',
 '_configure_all',
 '_configure_class_instrumentation',
 '_configure_inheritance',
 '_configure_legacy_instrument_class',
 '_configure_listeners',
 '_configure_pks',
 '_configure_polymorphic_setter',
 '_configure_properties',
 '_configure_property',
 '_delete_orphans',
 '_dependency_processors',
 '_deprecated_extensions',
 '_equivalent_columns',
 '_expire_memoizations',
 '_filter_properties',
 '_get_clause',
 '_get_committed_attr_by_column',
 '_get_committed_state_attr_by_column',
 '_get_state_attr_by_column',
 '_identity_class',
 '_identity_key_from_state',
 '_identity_key_props',
 '_inheriting_mappers',
 '_inherits_equated_pairs',
 '_init_properties',
 '_insert_cols_as_none',
 '_insert_cols_evaluating_none',
 '_is_orphan',
 '_is_userland_descriptor',
 '_iterate_polymorphic_properties',
 '_iterate_to_target_viawpoly',
 '_log',
 '_log_debug',
 '_log_desc',
 '_mappers_from_spec',
 '_memo',
 '_memoized_values',
 '_new_mappers',
 '_optimized_get_statement',
 '_path_registry',
 '_pk_attr_keys_by_table',
 '_pk_keys_by_table',
 '_pks_by_table',
 '_polymorphic_properties',
 '_post_configure_properties',
 '_primary_key_argument',
 '_primary_key_propkeys',
 '_prop_set',
 '_property_from_column',
 '_propkey_to_col',
 '_props',
 '_readonly_props',
 '_reconstructor',
 '_requires_row_aliasing',
 '_result_has_identity_key',
 '_selectable_from_mappers',
 '_server_default_cols',
 '_server_default_plus_onupdate_propkeys',
 '_server_onupdate_default_cols',
 '_set_committed_state_attr_by_column',
 '_set_concrete_base',
 '_set_polymorphic_identity',
 '_set_polymorphic_on',
 '_set_state_attr_by_column',
 '_set_with_polymorphic',
 '_should_exclude',
 '_should_log_debug',
 '_should_log_info',
 '_should_selectin_load',
 '_should_undefer_in_wildcard',
 '_single_table_criterion',
 '_sorted_tables',
 '_subclass_load_via_in',
 '_subclass_load_via_in_mapper',
 '_table_to_equated',
 '_validate_polymorphic_identity',
 '_version_id_prop',
 '_with_polymorphic_args',
 '_with_polymorphic_mappers',
 '_with_polymorphic_selectable',
 'add_properties',
 'add_property',
 'all_orm_descriptors',
 'allow_partial_pks',
 'always_refresh',
 'attrs',
 'base_mapper',
 'batch',
 'c',
 'cascade_iterator',
 'class_',
 'class_manager',
 'column_attrs',
 'column_prefix',
 'columns',
 'common_parent',
 'composites',
 'concrete',
 'configured',
 'confirm_deleted_rows',
 'dispatch',
 'dispose',
 'eager_defaults',
 'entity',
 'exclude_properties',
 'extension_type',
 'get_property',
 'get_property_by_column',
 'has_property',
 'identity_key_from_instance',
 'identity_key_from_primary_key',
 'identity_key_from_row',
 'include_properties',
 'inherit_condition',
 'inherit_foreign_keys',
 'inherits',
 'is_aliased_class',
 'is_attribute',
 'is_clause_element',
 'is_instance',
 'is_mapper',
 'is_property',
 'is_selectable',
 'isa',
 'iterate_properties',
 'iterate_to_root',
 'legacy_is_orphan',
 'local_table',
 'logger',
 'mapped_table',
 'mapper',
 'non_primary',
 'order_by',
 'passive_deletes',
 'passive_updates',
 'polymorphic_identity',
 'polymorphic_iterator',
 'polymorphic_load',
 'polymorphic_map',
 'polymorphic_on',
 'primary_base_mapper',
 'primary_key',
 'primary_key_from_instance',
 'primary_mapper',
 'relationships',
 'represents_outer_join',
 'selectable',
 'self_and_descendants',
 'single',
 'synonyms',
 'tables',
 'validators',
 'version_id_col',
 'version_id_generator',
 'with_polymorphic',
 'with_polymorphic_mappers']

In [144]:
Base.metadata

MetaData(bind=None)

The Table object is a member of a larger collection known as MetaData. When using Declarative, this object is available using the .metadata attribute of our declarative base class.

The MetaData is a registry which includes the ability to emit a limited set of schema generation commands to the database. As our SQLite database does not actually have a users table present, we can use MetaData to issue CREATE TABLE statements to the database for all tables that don’t yet exist

## Use the metadata registry in the Base class to create tables for the classes defined so far

In [16]:
Base.metadata.create_all(engine)

2018-09-09 01:49:58,705 INFO sqlalchemy.engine.base.Engine select version()
2018-09-09 01:49:58,706 INFO sqlalchemy.engine.base.Engine {}
2018-09-09 01:49:58,708 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-09-09 01:49:58,709 INFO sqlalchemy.engine.base.Engine {}
2018-09-09 01:49:58,711 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-09-09 01:49:58,711 INFO sqlalchemy.engine.base.Engine {}
2018-09-09 01:49:58,712 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-09-09 01:49:58,713 INFO sqlalchemy.engine.base.Engine {}
2018-09-09 01:49:58,713 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-09-09 01:49:58,714 INFO sqlalchemy.engine.base.Engine {}
2018-09-09 01:49:58,716 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-09-09 01:49:58,716 INFO sqlalchemy.engine.base.Engine {'name': 'users'}

### Create instances of the mapped class

In [17]:
user_ed = User(name='ed', password='ed_password')

In [18]:
user_ed.name

'ed'

In [19]:
user_ed.password

'ed_password'

In [20]:
user_ed.id

## Talking to the database: Sessions

The ORM’s “handle” to the database is the Session. When we first set up the application, at the same level as our create_engine() statement, we define a Session class which will serve as a factory for new Session objects

The ORM’s “handle” to the database is the Session. When we first set up the application, at the same level as our create_engine() statement, we define a Session class which will serve as a factory for new Session objects

In [21]:
from sqlalchemy.orm import sessionmaker

In [22]:
Session = sessionmaker(bind=engine)

In [23]:
session = Session()

In [24]:
session.add(user_ed)

Instance reference by 'user_ed' is now in the state "pending". 
It has not yet been added to the 'users' table in the database as a row

The Session will issue the SQL to persist the entry as soon as is needed, using a process known as a flush. If we query the database for the user 'ed' that we created, all pending information will first be flushed, and the query is issued immediately thereafter.

In [25]:
our_user = session.query(User).filter_by(name='ed').first()

2018-09-09 01:50:02,411 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-09 01:50:02,413 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, password) VALUES (%(name)s, %(password)s) RETURNING users.id
2018-09-09 01:50:02,414 INFO sqlalchemy.engine.base.Engine {'name': 'ed', 'password': 'ed_password'}
2018-09-09 01:50:02,416 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2018-09-09 01:50:02,416 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'param_1': 1}

In [26]:
print(our_user.name, our_user.password, our_user.id)

ed ed_password_updated 1

**Observation**: Even though and 'id' has been assigned to the user now, the row for the user is not visible in the database. Wonder why

In [27]:
our_user

In [28]:
our_user is user_ed

False

The ORM concept at work here is known as an identity map and ensures that all operations upon a particular row within a Session operate upon the same set of data. Once an object with a particular primary key is present in the Session, all SQL queries on that Session will always return the same Python object for that particular primary key; it also will raise an error if an attempt is made to place a second, already-persisted object with the same primary key within the session.

In [29]:
session.add_all(
    [
        User(name='wendy', password='foobar'),
        User(name='mary', password='xxg527'),
        User(name='fred', password='blah')
    ]
)

In [30]:
user_ed.password

'ed_password'

In [31]:
user_ed.password = 'ed_password_updated'

In [32]:
user_ed.password

'ed_password_updated'

### Display what's "dirty" and what's "new"

In [33]:
session.dirty

IdentitySet([<User(name=ed, password=ed_password_updated)>])

In [34]:
session.new

IdentitySet([<User(name=wendy, password=foobar)>, <User(name=mary, password=xxg527)>, <User(name=fred, password=blah)>])

### Commit the transaction

In [35]:
session.commit()

2018-09-09 01:50:04,784 INFO sqlalchemy.engine.base.Engine UPDATE users SET password=%(password)s WHERE users.id = %(users_id)s
2018-09-09 01:50:04,785 INFO sqlalchemy.engine.base.Engine {'password': 'ed_password_updated', 'users_id': 6}
2018-09-09 01:50:04,786 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, password) VALUES (%(name)s, %(password)s) RETURNING users.id
2018-09-09 01:50:04,786 INFO sqlalchemy.engine.base.Engine {'name': 'wendy', 'password': 'foobar'}
2018-09-09 01:50:04,787 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, password) VALUES (%(name)s, %(password)s) RETURNING users.id
2018-09-09 01:50:04,788 INFO sqlalchemy.engine.base.Engine {'name': 'mary', 'password': 'xxg527'}
2018-09-09 01:50:04,788 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, password) VALUES (%(name)s, %(password)s) RETURNING users.id
2018-09-09 01:50:04,789 INFO sqlalchemy.engine.base.Engine {'name': 'fred', 'password': 'blah'}
2018-09-09 01:50:04,790 INFO sqlalchemy.engine.base.Engine COMMIT

**Oservation**: User 'ed' and the list of users added above are now present as rows in the database table 'user'

In [36]:
user_ed.id

2018-09-09 01:50:05,134 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-09 01:50:05,136 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.id = %(param_1)s
2018-09-09 01:50:05,136 INFO sqlalchemy.engine.base.Engine {'param_1': 6}

6

After the Session inserts new rows in the database, all newly generated identifiers and database-generated defaults become available on the instance, either immediately or via load-on-first-access. In this case, the entire row was re-loaded on access because a new transaction was begun after we issued commit(). SQLAlchemy by default refreshes data from a previous transaction the first time it’s accessed within a new transaction, so that the most recent state is available. The level of reloading is configurable

## Rollbacks

Changes within the transaction (uncommitted changes) can be rolled back

#### 1. Change and attribute of a user and roll it back

In [37]:
user_ed.name

'ed'

In [38]:
user_ed.name = 'kent'

In [39]:
user_ed.name

'kent'

In [40]:
session.dirty

IdentitySet([<User(name=kent, password=ed_password_updated)>])

In [41]:
session.rollback()

2018-09-09 01:50:07,458 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [42]:
session.dirty

IdentitySet([])

In [43]:
user_ed.name

2018-09-09 01:50:07,805 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-09 01:50:07,807 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.id = %(param_1)s
2018-09-09 01:50:07,807 INFO sqlalchemy.engine.base.Engine {'param_1': 6}

'ed'

#### 2, Add a user and do a rollback

In [44]:
user_wrong = User(name='wrong_user', password='pwd')

In [45]:
session.add(user_wrong)

In [46]:
session.dirty

IdentitySet([])

In [47]:
session.new

IdentitySet([<User(name=wrong_user, password=pwd)>])

In [48]:
query_result = session.query(User).filter(User.name.in_(['wrong_user'])).all()

2018-09-09 01:50:08,887 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, password) VALUES (%(name)s, %(password)s) RETURNING users.id
2018-09-09 01:50:08,887 INFO sqlalchemy.engine.base.Engine {'name': 'wrong_user', 'password': 'pwd'}
2018-09-09 01:50:08,889 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name IN (%(name_1)s)
2018-09-09 01:50:08,890 INFO sqlalchemy.engine.base.Engine {'name_1': 'wrong_user'}

In [49]:
len(query_result)

1

In [50]:
query_result[0] is user_wrong

True

In [51]:
session.rollback()

2018-09-09 01:50:09,429 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [52]:
session.new

IdentitySet([])

In [53]:
user_wrong

In [54]:
query_result = session.query(User).filter(User.name.in_(['wrong_user'])).all()

2018-09-09 01:50:09,975 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-09 01:50:09,977 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name IN (%(name_1)s)
2018-09-09 01:50:09,978 INFO sqlalchemy.engine.base.Engine {'name_1': 'wrong_user'}

In [55]:
len(query_result)

0

## Querying

**Example**

In [56]:
query = session.query(User).order_by(User.id)

In [57]:
results = query.all()

2018-09-09 01:50:10,866 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users ORDER BY users.id
2018-09-09 01:50:10,867 INFO sqlalchemy.engine.base.Engine {}

In [58]:
pprint(results)

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>,
 <User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

**Example**

In [59]:
query = session.query(User.name)

In [60]:
query

In [61]:
for name in query:
    print('User: {}'.format(name))

2018-09-09 01:50:11,791 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
2018-09-09 01:50:11,792 INFO sqlalchemy.engine.base.Engine {}
User: ('ed',)
User: ('wendy',)
User: ('mary',)
User: ('fred',)
User: ('ed',)
User: ('wendy',)
User: ('mary',)
User: ('fred',)

**Example**

In [62]:
query = session.query(User.name, User.password)

In [63]:
for (name, password,) in query:
    print('Name: {}, Password: {}'.format(name, password))

2018-09-09 01:50:12,497 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.password AS users_password
FROM users
2018-09-09 01:50:12,498 INFO sqlalchemy.engine.base.Engine {}
Name: ed, Password: ed_password_updated
Name: wendy, Password: foobar
Name: mary, Password: xxg527
Name: fred, Password: blah
Name: ed, Password: ed_password_updated
Name: wendy, Password: foobar
Name: mary, Password: xxg527
Name: fred, Password: blah

### Query results are named tuples

**Example**

In [64]:
query = session.query(User, User.name, User.password)

In [65]:
query  # generator

In [66]:
query.all()  # list

2018-09-09 01:50:13,333 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-09 01:50:13,334 INFO sqlalchemy.engine.base.Engine {}

[(<User(name=ed, password=ed_password_updated)>, 'ed', 'ed_password_updated'),
 (<User(name=wendy, password=foobar)>, 'wendy', 'foobar'),
 (<User(name=mary, password=xxg527)>, 'mary', 'xxg527'),
 (<User(name=fred, password=blah)>, 'fred', 'blah'),
 (<User(name=ed, password=ed_password_updated)>, 'ed', 'ed_password_updated'),
 (<User(name=wendy, password=foobar)>, 'wendy', 'foobar'),
 (<User(name=mary, password=xxg527)>, 'mary', 'xxg527'),
 (<User(name=fred, password=blah)>, 'fred', 'blah')]

In [67]:
# Acces results using attribute names
for result in query:
    print('User: {},cv Name: {}, Password:{}'.format(
        result.User,
        result.name,
        result.password,
    ))

2018-09-09 01:50:13,502 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-09 01:50:13,503 INFO sqlalchemy.engine.base.Engine {}
User: <User(name=ed, password=ed_password_updated)>,cv Name: ed, Password:ed_password_updated
User: <User(name=wendy, password=foobar)>,cv Name: wendy, Password:foobar
User: <User(name=mary, password=xxg527)>,cv Name: mary, Password:xxg527
User: <User(name=fred, password=blah)>,cv Name: fred, Password:blah
User: <User(name=ed, password=ed_password_updated)>,cv Name: ed, Password:ed_password_updated
User: <User(name=wendy, password=foobar)>,cv Name: wendy, Password:foobar
User: <User(name=mary, password=xxg527)>,cv Name: mary, Password:xxg527
User: <User(name=fred, password=blah)>,cv Name: fred, Password:blah

In [68]:
# Acces results using tuple indices
for result in query:
    print('User: {},cv Name: {}, Password:{}'.format(
        result[0],
        result[1],
        result[2],
    ))

2018-09-09 01:50:13,651 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-09 01:50:13,652 INFO sqlalchemy.engine.base.Engine {}
User: <User(name=ed, password=ed_password_updated)>,cv Name: ed, Password:ed_password_updated
User: <User(name=wendy, password=foobar)>,cv Name: wendy, Password:foobar
User: <User(name=mary, password=xxg527)>,cv Name: mary, Password:xxg527
User: <User(name=fred, password=blah)>,cv Name: fred, Password:blah
User: <User(name=ed, password=ed_password_updated)>,cv Name: ed, Password:ed_password_updated
User: <User(name=wendy, password=foobar)>,cv Name: wendy, Password:foobar
User: <User(name=mary, password=xxg527)>,cv Name: mary, Password:xxg527
User: <User(name=fred, password=blah)>,cv Name: fred, Password:blah

The tuples returned by Query are named tuples, supplied by the KeyedTuple class, and can be treated much like an ordinary Python object. The names are the same as the attribute’s name for an attribute, and the class name for a class:

**Example**

You can control the names of individual column expressions using the label() construct, which is available from any ColumnElement-derived object, as well as any class attribute which is mapped to one (such as User.name):

In [69]:
query = session.query(User.name.label('name_label'))

In [70]:
query.all()

2018-09-09 01:50:14,566 INFO sqlalchemy.engine.base.Engine SELECT users.name AS name_label
FROM users
2018-09-09 01:50:14,567 INFO sqlalchemy.engine.base.Engine {}

[('ed'), ('wendy'), ('mary'), ('fred'), ('ed'), ('wendy'), ('mary'), ('fred')]

### Aliases

The name given to a full entity such as User, assuming that multiple entities are present in the call to query(), can be controlled using aliased()

In [71]:
from sqlalchemy.orm import aliased

In [72]:
user_alias = aliased(User, name='user_alias')

In [73]:
query = session.query(user_alias.name, user_alias.password)

In [74]:
query.all()

2018-09-09 01:50:15,600 INFO sqlalchemy.engine.base.Engine SELECT user_alias.name AS user_alias_name, user_alias.password AS user_alias_password
FROM users AS user_alias
2018-09-09 01:50:15,601 INFO sqlalchemy.engine.base.Engine {}

[('ed', 'ed_password_updated'),
 ('wendy', 'foobar'),
 ('mary', 'xxg527'),
 ('fred', 'blah'),
 ('ed', 'ed_password_updated'),
 ('wendy', 'foobar'),
 ('mary', 'xxg527'),
 ('fred', 'blah')]

## Order-by

In [75]:
query = session.query(User)

In [76]:
query = query.order_by(User.id)

In [77]:
query[1:3]

2018-09-09 01:50:16,342 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users ORDER BY users.id
 LIMIT %(param_1)s OFFSET %(param_2)s
2018-09-09 01:50:16,342 INFO sqlalchemy.engine.base.Engine {'param_1': 2, 'param_2': 1}

## filter_by() vs filter()

In [78]:
query = session.query(User)

### 1. filter_by()

In [79]:
query = session.query(User.name)

In [80]:
query = query.filter_by(name='ed')

In [81]:
query.all()

2018-09-09 01:50:17,402 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE users.name = %(name_1)s
2018-09-09 01:50:17,403 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

[('ed'), ('ed')]

### 2. filter()

In [82]:
query = session.query(User)

In [83]:
query = query.filter(User.name=='ed')

In [84]:
query.all()

2018-09-09 01:50:18,074 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-09-09 01:50:18,075 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=ed, password=ed_password_updated)>]

**Note:** The Query object is fully generative, meaning that most method calls return a new Query object upon which further criteria may be added

In [85]:
user_ed

In [86]:
query = session.query(User)

In [87]:
query = query.filter(User.name=='ed')

In [88]:
query = query.filter(User.password=='ed_password_updated')

In [89]:
query.all()

2018-09-09 01:50:19,302 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s AND users.password = %(password_1)s
2018-09-09 01:50:19,303 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'password_1': 'ed_password_updated'}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=ed, password=ed_password_updated)>]

## Filter operators

In [90]:
query = session.query(User)

In [91]:
query.filter(User.name == 'ed').all()

2018-09-09 01:50:19,794 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-09-09 01:50:19,795 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=ed, password=ed_password_updated)>]

In [92]:
query.filter(User.name != 'ed').all()

2018-09-09 01:50:19,956 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name != %(name_1)s
2018-09-09 01:50:19,957 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

[<User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

In [93]:
query.filter(User.name.like('%ar%')).all()

2018-09-09 01:50:20,160 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name LIKE %(name_1)s
2018-09-09 01:50:20,161 INFO sqlalchemy.engine.base.Engine {'name_1': '%ar%'}

In [94]:
query.filter(User.name.ilike('%AR%')).all()

2018-09-09 01:50:20,336 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name ILIKE %(name_1)s
2018-09-09 01:50:20,337 INFO sqlalchemy.engine.base.Engine {'name_1': '%AR%'}

In [95]:
query.filter(User.name.in_(['ed', 'mary'])).all()

2018-09-09 01:50:20,513 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name IN (%(name_1)s, %(name_2)s)
2018-09-09 01:50:20,514 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'name_2': 'mary'}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=mary, password=xxg527)>,
 <User(name=ed, password=ed_password_updated)>,
 <User(name=mary, password=xxg527)>]

In [96]:
query.filter(User.name == None).all()

2018-09-09 01:50:20,713 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name IS NULL
2018-09-09 01:50:20,714 INFO sqlalchemy.engine.base.Engine {}

[]

In [97]:
query.filter(User.name != None).all()

2018-09-09 01:50:20,850 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name IS NOT NULL
2018-09-09 01:50:20,851 INFO sqlalchemy.engine.base.Engine {}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>,
 <User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

In [98]:
from sqlalchemy import and_
query.filter(and_(User.name == 'ed', User.password == 'ed_password_updated')).all()

2018-09-09 01:50:21,364 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s AND users.password = %(password_1)s
2018-09-09 01:50:21,365 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'password_1': 'ed_password_updated'}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=ed, password=ed_password_updated)>]

In [99]:
from sqlalchemy import or_
query.filter(or_(User.name == 'ed', User.name.in_(['mary', 'Elon']))).all()

2018-09-09 01:50:21,579 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s OR users.name IN (%(name_2)s, %(name_3)s)
2018-09-09 01:50:21,580 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'name_2': 'mary', 'name_3': 'Elon'}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=mary, password=xxg527)>,
 <User(name=ed, password=ed_password_updated)>,
 <User(name=mary, password=xxg527)>]

In [100]:
query.filter(User.name.match('mArY')).all()  # Implementation of 'match' is database backend dependent

2018-09-09 01:50:21,784 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name @@ to_tsquery(%(name_1)s)
2018-09-09 01:50:21,785 INFO sqlalchemy.engine.base.Engine {'name_1': 'mArY'}

## Returning lists and scalars

In [101]:
query = session.query(User)

In [102]:
query.all()

2018-09-09 01:50:22,429 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-09 01:50:22,430 INFO sqlalchemy.engine.base.Engine {}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>,
 <User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

In [103]:
query.first()

2018-09-09 01:50:22,744 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
 LIMIT %(param_1)s
2018-09-09 01:50:22,745 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

In [104]:
query.one()  # Raises an exception (MultipleResultsFound) if muliple results are found

2018-09-09 01:50:23,040 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-09 01:50:23,042 INFO sqlalchemy.engine.base.Engine {}

MultipleResultsFound: Multiple rows were found for one()

In [105]:
query.filter(User.name == 'floyd').one()  # Raise an exception (NoResultFound) if no results are found

2018-09-09 01:50:24,001 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-09-09 01:50:24,002 INFO sqlalchemy.engine.base.Engine {'name_1': 'floyd'}

NoResultFound: No row was found for one()

In [106]:
query.one_or_none()

2018-09-09 01:50:25,703 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-09 01:50:25,704 INFO sqlalchemy.engine.base.Engine {}

MultipleResultsFound: Multiple rows were found for one_or_none()

In [107]:
query.scalar()

2018-09-09 01:50:26,361 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-09 01:50:26,363 INFO sqlalchemy.engine.base.Engine {}

MultipleResultsFound: Multiple rows were found for one()

## Using textual SQL

In [108]:
from sqlalchemy import text

In [109]:
query =  session.query(User)

In [110]:
query = query.filter(text('id<=3')).order_by(text('id'))

In [111]:
query.all()

2018-09-09 01:50:28,122 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE id<=3 ORDER BY id
2018-09-09 01:50:28,123 INFO sqlalchemy.engine.base.Engine {}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>]

### Bind parameters

In [112]:
query = session.query(User)

In [113]:
query = query.filter(text("id<=:value")).params(value=5)

In [114]:
query.all()

2018-09-09 01:50:28,980 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE id<=%(value)s
2018-09-09 01:50:28,981 INFO sqlalchemy.engine.base.Engine {'value': 5}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

In [115]:
# Injection attempt: parameteization can help!
# query = query.filter(text("id<=:value")).params(value='5 AND id>2' )

In [116]:
# The session may need to be rolled back
# session.rollback()

### from_statement

In [117]:
query =  session.query(User)

In [118]:
query = query.from_statement(
    text(
        'SELECT * FROM users where id<=:value'
    ).params(value=4)
)

In [119]:
query.all()

2018-09-09 01:50:30,254 INFO sqlalchemy.engine.base.Engine SELECT * FROM users where id<=%(value)s
2018-09-09 01:50:30,255 INFO sqlalchemy.engine.base.Engine {'value': 4}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

### Mapping columns positionally

Matching columns on name works for simple cases but can become unwieldy when dealing with complex statements that contain duplicate column names or when using anonymized ORM constructs that don’t easily match to specific names. Additionally, there is typing behavior present in our mapped columns that we might find necessary when handling result rows. For these cases, the text() construct allows us to link its textual SQL to Core or ORM-mapped column expressions positionally; we can achieve this by passing column expressions as positional arguments to the TextClause.columns() method:

In [120]:
statement = text(
    'SELECT user_name, password, id from user where id<=:value'
)

In [121]:
satement = statement.columns(User.name, User.password, User.id)

In [122]:
query = session.query(User)

In [123]:
query = query.from_statement(statement).params(value=5)

In [124]:
query.all()

2018-09-09 01:50:32,554 INFO sqlalchemy.engine.base.Engine SELECT user_name, password, id from user where id<=%(value)s
2018-09-09 01:50:32,555 INFO sqlalchemy.engine.base.Engine {'value': 5}

ProgrammingError: (psycopg2.ProgrammingError) column "user_name" does not exist
LINE 1: SELECT user_name, password, id from user where id<=5
               ^
 [SQL: 'SELECT user_name, password, id from user where id<=%(value)s'] [parameters: {'value': 5}] (Background on this error at: http://sqlalche.me/e/f405)

In [143]:
session.rollback()

2018-09-09 13:11:45,904 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [126]:
statement = text('SELECT name, id, password FROM users where name:=name')

In [127]:
statement = statement.columns(User.name, User.id, User.password)

In [128]:
query = session.query(User).from_statement(statement).params(name='ed')

In [129]:
query.all()

2018-09-09 01:50:34,585 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-09 01:50:34,586 INFO sqlalchemy.engine.base.Engine SELECT name, id, password FROM users where name:=name
2018-09-09 01:50:34,587 INFO sqlalchemy.engine.base.Engine {}

ProgrammingError: (psycopg2.ProgrammingError) syntax error at or near ":="
LINE 1: SELECT name, id, password FROM users where name:=name
                                                       ^
 [SQL: 'SELECT name, id, password FROM users where name:=name'] (Background on this error at: http://sqlalche.me/e/f405)

In [130]:
session.rollback()

2018-09-09 01:50:34,807 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [131]:
stmt = text("SELECT name, id, password "
            "FROM users where name=:name")
stmt = stmt.columns(User.name, User.id, User.password)
session.query(User).from_statement(stmt).params(name='ed').all()

2018-09-09 01:50:35,239 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-09 01:50:35,240 INFO sqlalchemy.engine.base.Engine SELECT name, id, password FROM users where name=%(name)s
2018-09-09 01:50:35,241 INFO sqlalchemy.engine.base.Engine {'name': 'ed'}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=ed, password=ed_password_updated)>]

## Counting

In [132]:
session.rollback()

2018-09-09 01:50:35,679 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [133]:
query = session.query(User).filter(User.name.like('%ed%'))

In [134]:
query.count()

2018-09-09 01:50:36,060 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-09 01:50:36,061 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name LIKE %(name_1)s) AS anon_1
2018-09-09 01:50:36,062 INFO sqlalchemy.engine.base.Engine {'name_1': '%ed%'}

4

### Count each distinct username

In [135]:
from sqlalchemy import func
query = session.query(User.name, func.count(User.name)).group_by(User.name)

In [136]:
query.all()

2018-09-09 01:50:36,667 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, count(users.name) AS count_1
FROM users GROUP BY users.name
2018-09-09 01:50:36,668 INFO sqlalchemy.engine.base.Engine {}

[('mary', 2), ('fred', 2), ('ed', 2), ('wendy', 2)]

# Building relationships

Let’s consider how a second table, related to User, can be mapped and queried. Users in our system can store any number of email addresses associated with their username. This implies a basic one to many association from the users to a new table which stores email addresses, which we will call addresses. Using declarative, we define this table along with its mapped class, Address:

In [137]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [138]:
class Address(Base):
    __tablename__ = 'addresses'
    
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))
    
    user = relationship('User', back_populates='addresses')
    
    def __repr__(self):
        return '<Address(id={}, email_address={}, user_id={}, user={})>'.format(
            self.id, self.email_address, self.user_id, self.user,
        )

In [140]:
User.addresses = relationship('Address', order_by=Address.id, back_populates='user')

/home/sidharth/anaconda3/lib/python3.6/site-packages/sqlalchemy/orm/mapper.py:1700: SAWarning: Property User.addresses on Mapper|User|users being replaced with new property User.addresses; the old property will be discarded
  prop,

The above class introduces the ForeignKey construct, which is a directive applied to Column that indicates that values in this column should be constrained to be values present in the named remote column. This is a core feature of relational databases, and is the “glue” that transforms an otherwise unconnected collection of tables to have rich overlapping relationships. The ForeignKey above expresses that values in the addresses.user_id column should be constrained to those values in the users.id column, i.e. its primary key.

A second directive, known as relationship(), tells the ORM that the Address class itself should be linked to the User class, using the attribute Address.user. relationship() uses the foreign key relationships between the two tables to determine the nature of this linkage, determining that Address.user will be many to one. An additional relationship() directive is placed on the User mapped class under the attribute User.addresses. In both relationship() directives, the parameter relationship.back_populates is assigned to refer to the complementary attribute names; by doing so, each relationship() can make intelligent decision about the same relationship as expressed in reverse; on one side, Address.user refers to a User instance, and on the other side, User.addresses refers to a list of Address instances.

### Create the Address table

In [145]:
Base.metadata.create_all(engine)

2018-09-09 13:12:38,160 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-09-09 13:12:38,161 INFO sqlalchemy.engine.base.Engine {'name': 'users'}
2018-09-09 13:12:38,164 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-09-09 13:12:38,165 INFO sqlalchemy.engine.base.Engine {'name': 'addresses'}
2018-09-09 13:12:38,167 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id SERIAL NOT NULL,
	email_address VARCHAR NOT NULL,
	user_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2018-09-09 13:12:38,168 INFO sqlalchemy.engine.base.Engine {}
2018-09-09 13:12:38,201 INFO sqlalchemy.engine.base.Engine COMMIT

## Working with related objects

In [146]:
user_jack = User(name='jack', password='alksndflka')

In [147]:
user_jack.addresses

[]

In [153]:
del(user_jack.address)

In [155]:
user_jack.addresses = [
    Address(email_address='jack@abc.com'),
    Address(email_address='jack@xyz.com'),
    Address(email_address='jack@pqr.com'),
]

In [149]:
user_jack.id

When using a bidirectional relationship, elements added in one direction automatically become visible in the other direction. This behavior occurs based on attribute on-change events and is evaluated in Python, without using any SQL:

In [156]:
user_jack.addresses[1]

In [157]:
user_jack.addresses[1].user

In [159]:
session.add(user_jack)

In [160]:
session.commit()

2018-09-09 13:22:42,094 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-09 13:22:42,097 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, password) VALUES (%(name)s, %(password)s) RETURNING users.id
2018-09-09 13:22:42,097 INFO sqlalchemy.engine.base.Engine {'name': 'jack', 'password': 'alksndflka'}
2018-09-09 13:22:42,100 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (email_address, user_id) VALUES (%(email_address)s, %(user_id)s) RETURNING addresses.id
2018-09-09 13:22:42,100 INFO sqlalchemy.engine.base.Engine {'email_address': 'jack@abc.com', 'user_id': 11}
2018-09-09 13:22:42,102 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (email_address, user_id) VALUES (%(email_address)s, %(user_id)s) RETURNING addresses.id
2018-09-09 13:22:42,102 INFO sqlalchemy.engine.base.Engine {'email_address': 'jack@xyz.com', 'user_id': 11}
2018-09-09 13:22:42,103 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (email_address, user_id) VALUES (%(email_address)s, %(user_id)s) RETURNING addresses.id
2018-09-09 13:22:42,103 INFO sqlalchemy.engine.base.Engine {'email_address': 'jack@pqr.com', 'user_id': 11}
2018-09-09 13:22:42,104 INFO sqlalchemy.engine.base.Engine COMMIT

In [161]:
jack = session.query(User).filter(User.name == 'jack').one()

2018-09-09 13:28:27,052 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-09 13:28:27,054 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-09-09 13:28:27,055 INFO sqlalchemy.engine.base.Engine {'name_1': 'jack'}

In [162]:
jack

In [163]:
jack.addresses

2018-09-09 13:32:49,829 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email_address AS addresses_email_address, addresses.user_id AS addresses_user_id
FROM addresses
WHERE %(param_1)s = addresses.user_id ORDER BY addresses.id
2018-09-09 13:32:49,831 INFO sqlalchemy.engine.base.Engine {'param_1': 11}

[<Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>,
 <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>,
 <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>]

## Joins

In [165]:
query = session.query(User, Address).filter(User.id == Address.user_id)

In [166]:
query.all()

2018-09-09 19:22:14,082 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password, addresses.id AS addresses_id, addresses.email_address AS addresses_email_address, addresses.user_id AS addresses_user_id
FROM users, addresses
WHERE users.id = addresses.user_id
2018-09-09 19:22:14,083 INFO sqlalchemy.engine.base.Engine {}

[(<User(name=jack, password=alksndflka)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jack, password=alksndflka)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jack, password=alksndflka)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>)]

In [173]:
# query = session.query(User, Address).join(Address)
query = session.query(User).join(Address).filter(Address.email_address == 'jack@pqr.com')

In [174]:
query.all()

2018-09-09 19:57:29,390 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users JOIN addresses ON users.id = addresses.user_id
WHERE addresses.email_address = %(email_address_1)s
2018-09-09 19:57:29,391 INFO sqlalchemy.engine.base.Engine {'email_address_1': 'jack@pqr.com'}

#### Outer join

In [178]:
# Left outer join
query = session.query(User, Address).outerjoin(User.addresses)

In [177]:
query.all()

2018-09-09 20:03:15,081 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password, addresses.id AS addresses_id, addresses.email_address AS addresses_email_address, addresses.user_id AS addresses_user_id
FROM users LEFT OUTER JOIN addresses ON users.id = addresses.user_id
2018-09-09 20:03:15,082 INFO sqlalchemy.engine.base.Engine {}

[(<User(name=jack, password=alksndflka)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jack, password=alksndflka)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jack, password=alksndflka)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=wendy, password=foobar)>, None),
 (<User(name=tricia, password=aslkfjokwe)>, None),
 (<User(name=richie, password=09834032)>, None),
 (<User(name=fred, password=9aksjf3)>, None),
 (<User(name=ed, password=ed_password_updated)>, None),
 (<User(name=mary, password=xxg527)>, None),
 (<User(name=jerry, password=kajsdmp)>, None),
 (<User(name=malia, password=jklafj3epo)>, None)]

In [183]:
# Right outer join
query = session.query(User, Address).outerjoin(Address.user)

In [184]:
query.all()

2018-09-09 20:04:44,390 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password, addresses.id AS addresses_id, addresses.email_address AS addresses_email_address, addresses.user_id AS addresses_user_id
FROM addresses LEFT OUTER JOIN users ON users.id = addresses.user_id
2018-09-09 20:04:44,391 INFO sqlalchemy.engine.base.Engine {}

[(<User(name=jack, password=alksndflka)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jack, password=alksndflka)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jack, password=alksndflka)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>)]

In [187]:
# Cartesian product?
query = session.query(User, Address).outerjoin()

In [186]:
query.all()

2018-09-09 20:05:02,032 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password, addresses.id AS addresses_id, addresses.email_address AS addresses_email_address, addresses.user_id AS addresses_user_id
FROM users, addresses
2018-09-09 20:05:02,033 INFO sqlalchemy.engine.base.Engine {}

[(<User(name=ed, password=ed_password_updated)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=wendy, password=foobar)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=mary, password=xxg527)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=fred, password=9aksjf3)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=richie, password=09834032)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=malia, password=jklafj3epo)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=tricia, password=aslkfjokwe)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jerry, password=kajsdmp)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jack, password=alksndflka)>,
  <Address(id=1, email_address=jack@abc.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=ed, password=ed_password_updated)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=wendy, password=foobar)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=mary, password=xxg527)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=fred, password=9aksjf3)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=richie, password=09834032)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=malia, password=jklafj3epo)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=tricia, password=aslkfjokwe)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jerry, password=kajsdmp)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jack, password=alksndflka)>,
  <Address(id=2, email_address=jack@xyz.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=ed, password=ed_password_updated)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=wendy, password=foobar)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=mary, password=xxg527)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=fred, password=9aksjf3)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=richie, password=09834032)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=malia, password=jklafj3epo)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=tricia, password=aslkfjokwe)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jerry, password=kajsdmp)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>),
 (<User(name=jack, password=alksndflka)>,
  <Address(id=3, email_address=jack@pqr.com, user_id=11, user=<User(name=jack, password=alksndflka)>)>)]

In [188]:
len(query.all())

2018-09-09 20:09:03,207 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password, addresses.id AS addresses_id, addresses.email_address AS addresses_email_address, addresses.user_id AS addresses_user_id
FROM users, addresses
2018-09-09 20:09:03,208 INFO sqlalchemy.engine.base.Engine {}

27

In [190]:
len(session.query(User).all())

2018-09-09 20:09:44,497 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-09 20:09:44,498 INFO sqlalchemy.engine.base.Engine {}

9

In [191]:
len(session.query(Address).all())

2018-09-09 20:09:51,836 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email_address AS addresses_email_address, addresses.user_id AS addresses_user_id
FROM addresses
2018-09-09 20:09:51,837 INFO sqlalchemy.engine.base.Engine {}

3

## Using aliases

In [192]:
from sqlalchemy.orm import aliased

In [193]:
address_alias1 = aliased(Address)

In [194]:
address_alias2 = aliased(Address)

In [ ]:
query = session.query(User.name, address_alias1.email_address, address_alias2.email_address).\
    join(address_alias1, User)