# Tutorial
### Source: http://docs.sqlalchemy.org/en/latest/orm/tutorial.html

#### Import and check version

In [24]:
import sqlalchemy
from pprint import pprint

In [3]:
sqlalchemy.__version__

'1.2.1'

#### Create an engine through which connections are made to the DB

In [4]:
from sqlalchemy import create_engine

In [10]:
# echo=True to enable logging via Python's standard logging module
engine = create_engine('postgresql://postgres:welcome1@localhost:5432/learn_sqlalchemy', echo=True)

#### Set logging level to show backend SQL commands while executing SQLAlchemy's Python methods

In [11]:
import logging
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

### Declare a mapping

Classes map to tables in the database. Declarative allows us to create classes that include directives to describe the actual database table they will be mapped to. Classes mapped using the Declarative system are defined in terms of a base class which maintains a catalog of classes and tables relative to that base - this is known as the declarative base class. Our application will usually have just one instance of this base in a commonly imported module. We create the base class using the declarative_base() function

In [16]:
from sqlalchemy.ext.declarative import declarative_base

In [18]:
Base = declarative_base()

In [19]:
from sqlalchemy import Column, Integer, String

In [20]:
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    password = Column(String)
    
    def __repr__(self):
        return '<User(name={}, password={})>'.format(self.name, self.password)

When our class is constructed, Declarative replaces all the Column objects with special Python accessors known as descriptors; this is a process known as instrumentation. The “instrumented” mapped class will provide us with the means to refer to our table in a SQL context as well as to persist and load the values of columns from the database.

#### Access 'table' metadata

In [26]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('password', String(), table=<users>), schema=None)

When we declared our class, Declarative used a Python metaclass in order to perform additional activities once the class declaration was complete; within this phase, it then created a Table object according to our specifications, and associated it with the class by constructing a Mapper object.

In [31]:
User.__mapper__

This object is a behind-the-scenes object we normally don’t need to deal with directly (though it can provide plenty of information about our mapping when we need it).

In [35]:
dir(User.__mapper__)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_acceptable_polymorphic_identities',
 '_adapt_inherited_property',
 '_add_with_polymorphic_subclass',
 '_all_pk_props',
 '_all_tables',
 '_canload',
 '_clause_adapter',
 '_cols_by_table',
 '_columntoproperty',
 '_compiled_cache',
 '_compiled_cache_size',
 '_configure_all',
 '_configure_class_instrumentation',
 '_configure_inheritance',
 '_configure_legacy_instrument_class',
 '_configure_listeners',
 '_configure_pks',
 '_configure_polymorphic_setter',
 '_configure_properties',
 '_configure_property',
 '_delete_orphans',
 '_dependency_processors',
 '_deprecated_extensions',
 '_equivalent_columns',
 '_expire_memoizations',
 '_filter_properties',
 '_get_clause',
 '_get_committed_attr_by_column',
 '_get_committed_state_attr_by_column',
 '_get_state_attr_by_column',
 '_identity_class',
 '_identity_key_from_state',
 '_identity_key_props',
 '_inheriting_mappers',
 '_inherits_equated_pairs',
 '_init_properties',
 '_insert_cols_as_none',
 '_insert_cols_evaluating_none',
 '_is_orphan',
 '_is_userland_descriptor',
 '_iterate_polymorphic_properties',
 '_iterate_to_target_viawpoly',
 '_log',
 '_log_debug',
 '_log_desc',
 '_mappers_from_spec',
 '_memo',
 '_memoized_values',
 '_new_mappers',
 '_optimized_get_statement',
 '_path_registry',
 '_pk_attr_keys_by_table',
 '_pk_keys_by_table',
 '_pks_by_table',
 '_polymorphic_properties',
 '_post_configure_properties',
 '_primary_key_argument',
 '_primary_key_propkeys',
 '_prop_set',
 '_property_from_column',
 '_propkey_to_col',
 '_props',
 '_readonly_props',
 '_reconstructor',
 '_requires_row_aliasing',
 '_result_has_identity_key',
 '_selectable_from_mappers',
 '_server_default_cols',
 '_server_default_plus_onupdate_propkeys',
 '_server_onupdate_default_cols',
 '_set_committed_state_attr_by_column',
 '_set_concrete_base',
 '_set_polymorphic_identity',
 '_set_polymorphic_on',
 '_set_state_attr_by_column',
 '_set_with_polymorphic',
 '_should_exclude',
 '_should_log_debug',
 '_should_log_info',
 '_should_selectin_load',
 '_should_undefer_in_wildcard',
 '_single_table_criterion',
 '_sorted_tables',
 '_subclass_load_via_in',
 '_subclass_load_via_in_mapper',
 '_table_to_equated',
 '_validate_polymorphic_identity',
 '_version_id_prop',
 '_with_polymorphic_args',
 '_with_polymorphic_mappers',
 '_with_polymorphic_selectable',
 'add_properties',
 'add_property',
 'all_orm_descriptors',
 'allow_partial_pks',
 'always_refresh',
 'attrs',
 'base_mapper',
 'batch',
 'c',
 'cascade_iterator',
 'class_',
 'class_manager',
 'column_attrs',
 'column_prefix',
 'columns',
 'common_parent',
 'composites',
 'concrete',
 'configured',
 'confirm_deleted_rows',
 'dispatch',
 'dispose',
 'eager_defaults',
 'entity',
 'exclude_properties',
 'extension_type',
 'get_property',
 'get_property_by_column',
 'has_property',
 'identity_key_from_instance',
 'identity_key_from_primary_key',
 'identity_key_from_row',
 'include_properties',
 'inherit_condition',
 'inherit_foreign_keys',
 'inherits',
 'is_aliased_class',
 'is_attribute',
 'is_clause_element',
 'is_instance',
 'is_mapper',
 'is_property',
 'is_selectable',
 'isa',
 'iterate_properties',
 'iterate_to_root',
 'legacy_is_orphan',
 'local_table',
 'logger',
 'mapped_table',
 'mapper',
 'non_primary',
 'order_by',
 'passive_deletes',
 'passive_updates',
 'polymorphic_identity',
 'polymorphic_iterator',
 'polymorphic_load',
 'polymorphic_map',
 'polymorphic_on',
 'primary_base_mapper',
 'primary_key',
 'primary_key_from_instance',
 'primary_mapper',
 'relationships',
 'represents_outer_join',
 'selectable',
 'self_and_descendants',
 'single',
 'synonyms',
 'tables',
 'validators',
 'version_id_col',
 'version_id_generator',
 'with_polymorphic',
 'with_polymorphic_mappers']

In [36]:
Base.metadata

MetaData(bind=None)

The Table object is a member of a larger collection known as MetaData. When using Declarative, this object is available using the .metadata attribute of our declarative base class.

The MetaData is a registry which includes the ability to emit a limited set of schema generation commands to the database. As our SQLite database does not actually have a users table present, we can use MetaData to issue CREATE TABLE statements to the database for all tables that don’t yet exist

## Use the metadata registry in the Base class to create tables for the classes defined so far

In [39]:
Base.metadata.create_all(engine)

2018-09-08 13:06:25,805 INFO sqlalchemy.engine.base.Engine select version()
2018-09-08 13:06:25,805 INFO sqlalchemy.engine.base.Engine {}
2018-09-08 13:06:25,807 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-09-08 13:06:25,808 INFO sqlalchemy.engine.base.Engine {}
2018-09-08 13:06:25,809 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-09-08 13:06:25,809 INFO sqlalchemy.engine.base.Engine {}
2018-09-08 13:06:25,810 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-09-08 13:06:25,811 INFO sqlalchemy.engine.base.Engine {}
2018-09-08 13:06:25,811 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-09-08 13:06:25,812 INFO sqlalchemy.engine.base.Engine {}
2018-09-08 13:06:25,813 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-09-08 13:06:25,814 INFO sqlalchemy.engine.base.Engine {'name': 'users'}
2018-09-08 13:06:25,815 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id SERIAL NOT NULL,
	name VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2018-09-08 13:06:25,816 INFO sqlalchemy.engine.base.Engine {}
2018-09-08 13:06:25,831 INFO sqlalchemy.engine.base.Engine COMMIT

### Create instances of the mapped class

In [40]:
user_ed = User(name='ed', password='ed_password')

In [41]:
user_ed.name

'ed'

In [42]:
user_ed.password

'ed_password'

In [44]:
user_ed.id

## Talking to the database: Sessions

The ORM’s “handle” to the database is the Session. When we first set up the application, at the same level as our create_engine() statement, we define a Session class which will serve as a factory for new Session objects

The ORM’s “handle” to the database is the Session. When we first set up the application, at the same level as our create_engine() statement, we define a Session class which will serve as a factory for new Session objects

In [47]:
from sqlalchemy.orm import sessionmaker

In [48]:
Session = sessionmaker(bind=engine)

In [50]:
session = Session()

In [55]:
session.add(user_ed)

Instance reference by 'user_ed' is now in the state "pending". 
It has not yet been added to the 'users' table in the database as a row

The Session will issue the SQL to persist the entry as soon as is needed, using a process known as a flush. If we query the database for the user 'ed' that we created, all pending information will first be flushed, and the query is issued immediately thereafter.

In [57]:
our_user = session.query(User).filter_by(name='ed').first()

2018-09-08 13:48:34,110 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-08 13:48:34,112 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, password) VALUES (%(name)s, %(password)s) RETURNING users.id
2018-09-08 13:48:34,112 INFO sqlalchemy.engine.base.Engine {'name': 'ed', 'password': 'ed_password'}
2018-09-08 13:48:34,115 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2018-09-08 13:48:34,115 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'param_1': 1}

In [58]:
print(our_user.name, our_user.password, our_user.id)

ed ed_password 1

**Observation**: Even though and 'id' has been assigned to the user now, the row for the user is not visible in the database. Wonder why

In [59]:
our_user

In [60]:
our_user is user_ed

True

The ORM concept at work here is known as an identity map and ensures that all operations upon a particular row within a Session operate upon the same set of data. Once an object with a particular primary key is present in the Session, all SQL queries on that Session will always return the same Python object for that particular primary key; it also will raise an error if an attempt is made to place a second, already-persisted object with the same primary key within the session.

In [62]:
session.add_all(
    [
        User(name='wendy', password='foobar'),
        User(name='mary', password='xxg527'),
        User(name='fred', password='blah')
    ]
)

In [63]:
user_ed.password

'ed_password'

In [64]:
user_ed.password = 'ed_password_updated'

In [65]:
user_ed.password

'ed_password_updated'

### Display what's "dirty" and what's "new"

In [66]:
session.dirty

IdentitySet([<User(name=ed, password=ed_password_updated)>])

In [67]:
session.new

IdentitySet([<User(name=wendy, password=foobar)>, <User(name=mary, password=xxg527)>, <User(name=fred, password=blah)>])

### Commit the transaction

In [68]:
session.commit()

2018-09-08 14:06:14,033 INFO sqlalchemy.engine.base.Engine UPDATE users SET password=%(password)s WHERE users.id = %(users_id)s
2018-09-08 14:06:14,034 INFO sqlalchemy.engine.base.Engine {'password': 'ed_password_updated', 'users_id': 1}
2018-09-08 14:06:14,035 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, password) VALUES (%(name)s, %(password)s) RETURNING users.id
2018-09-08 14:06:14,036 INFO sqlalchemy.engine.base.Engine {'name': 'wendy', 'password': 'foobar'}
2018-09-08 14:06:14,037 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, password) VALUES (%(name)s, %(password)s) RETURNING users.id
2018-09-08 14:06:14,037 INFO sqlalchemy.engine.base.Engine {'name': 'mary', 'password': 'xxg527'}
2018-09-08 14:06:14,038 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, password) VALUES (%(name)s, %(password)s) RETURNING users.id
2018-09-08 14:06:14,038 INFO sqlalchemy.engine.base.Engine {'name': 'fred', 'password': 'blah'}
2018-09-08 14:06:14,039 INFO sqlalchemy.engine.base.Engine COMMIT

**Oservation**: User 'ed' and the list of users added above are now present as rows in the database table 'user'

In [70]:
user_ed.id

2018-09-08 14:18:58,124 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-08 14:18:58,125 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.id = %(param_1)s
2018-09-08 14:18:58,126 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

1

After the Session inserts new rows in the database, all newly generated identifiers and database-generated defaults become available on the instance, either immediately or via load-on-first-access. In this case, the entire row was re-loaded on access because a new transaction was begun after we issued commit(). SQLAlchemy by default refreshes data from a previous transaction the first time it’s accessed within a new transaction, so that the most recent state is available. The level of reloading is configurable

## Rollbacks

Changes within the transaction (uncommitted changes) can be rolled back

#### 1. Change and attribute of a user and roll it back

In [71]:
user_ed.name

'ed'

In [72]:
user_ed.name = 'kent'

In [73]:
user_ed.name

'kent'

In [74]:
session.dirty

IdentitySet([<User(name=kent, password=ed_password_updated)>])

In [75]:
session.rollback()

2018-09-08 14:30:12,383 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [76]:
session.dirty

IdentitySet([])

In [77]:
user_ed.name

2018-09-08 14:30:25,632 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-08 14:30:25,633 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.id = %(param_1)s
2018-09-08 14:30:25,634 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

'ed'

#### 2, Add a user and do a rollback

In [78]:
user_wrong = User(name='wrong_user', password='pwd')

In [80]:
session.add(user_wrong)

In [81]:
session.dirty

IdentitySet([])

In [82]:
session.new

IdentitySet([<User(name=wrong_user, password=pwd)>])

In [91]:
query_result = session.query(User).filter(User.name.in_(['wrong_user'])).all()

2018-09-08 14:36:43,776 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name IN (%(name_1)s)
2018-09-08 14:36:43,777 INFO sqlalchemy.engine.base.Engine {'name_1': 'wrong_user'}

In [92]:
len(query_result)

1

In [94]:
query_result[0] is user_wrong

True

In [95]:
session.rollback()

2018-09-08 14:38:06,866 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [96]:
session.new

IdentitySet([])

In [97]:
user_wrong

In [98]:
query_result = session.query(User).filter(User.name.in_(['wrong_user'])).all()

2018-09-08 14:38:46,521 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-08 14:38:46,523 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name IN (%(name_1)s)
2018-09-08 14:38:46,524 INFO sqlalchemy.engine.base.Engine {'name_1': 'wrong_user'}

In [99]:
len(query_result)

0

## Querying

**Example**

In [109]:
query = session.query(User).order_by(User.id)

In [110]:
results = query.all()

2018-09-08 15:51:58,660 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users ORDER BY users.id
2018-09-08 15:51:58,661 INFO sqlalchemy.engine.base.Engine {}

In [111]:
pprint(results)

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

**Example**

In [112]:
query = session.query(User.name)

In [113]:
query

In [114]:
for name in query:
    print('User: {}'.format(name))

2018-09-08 15:56:20,645 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
2018-09-08 15:56:20,646 INFO sqlalchemy.engine.base.Engine {}
User: ('ed',)
User: ('wendy',)
User: ('mary',)
User: ('fred',)

**Example**

In [115]:
query = session.query(User.name, User.password)

In [116]:
for (name, password,) in query:
    print('Name: {}, Password: {}'.format(name, password))

2018-09-08 15:59:11,096 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.password AS users_password
FROM users
2018-09-08 15:59:11,097 INFO sqlalchemy.engine.base.Engine {}
Name: ed, Password: ed_password_updated
Name: wendy, Password: foobar
Name: mary, Password: xxg527
Name: fred, Password: blah

### Query results are named tuples

**Example**

In [120]:
query = session.query(User, User.name, User.password)

In [155]:
query  # generator

In [134]:
query.all()  # list

2018-09-08 16:08:46,770 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-08 16:08:46,771 INFO sqlalchemy.engine.base.Engine {}

[(<User(name=ed, password=ed_password_updated)>, 'ed', 'ed_password_updated'),
 (<User(name=wendy, password=foobar)>, 'wendy', 'foobar'),
 (<User(name=mary, password=xxg527)>, 'mary', 'xxg527'),
 (<User(name=fred, password=blah)>, 'fred', 'blah')]

In [132]:
# Acces results using attribute names
for result in query:
    print('User: {},cv Name: {}, Password:{}'.format(
        result.User,
        result.name,
        result.password,
    ))

2018-09-08 16:08:18,549 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-08 16:08:18,550 INFO sqlalchemy.engine.base.Engine {}
User: <User(name=ed, password=ed_password_updated)>,cv Name: ed, Password:ed_password_updated
User: <User(name=wendy, password=foobar)>,cv Name: wendy, Password:foobar
User: <User(name=mary, password=xxg527)>,cv Name: mary, Password:xxg527
User: <User(name=fred, password=blah)>,cv Name: fred, Password:blah

In [131]:
# Acces results using tuple indices
for result in query:
    print('User: {},cv Name: {}, Password:{}'.format(
        result[0],
        result[1],
        result[2],
    ))

2018-09-08 16:08:12,522 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-08 16:08:12,523 INFO sqlalchemy.engine.base.Engine {}
User: <User(name=ed, password=ed_password_updated)>,cv Name: ed, Password:ed_password_updated
User: <User(name=wendy, password=foobar)>,cv Name: wendy, Password:foobar
User: <User(name=mary, password=xxg527)>,cv Name: mary, Password:xxg527
User: <User(name=fred, password=blah)>,cv Name: fred, Password:blah

The tuples returned by Query are named tuples, supplied by the KeyedTuple class, and can be treated much like an ordinary Python object. The names are the same as the attribute’s name for an attribute, and the class name for a class:

**Example**

You can control the names of individual column expressions using the label() construct, which is available from any ColumnElement-derived object, as well as any class attribute which is mapped to one (such as User.name):

In [136]:
query = session.query(User.name.label('name_label'))

In [137]:
query.all()

2018-09-08 19:23:43,616 INFO sqlalchemy.engine.base.Engine SELECT users.name AS name_label
FROM users
2018-09-08 19:23:43,617 INFO sqlalchemy.engine.base.Engine {}

[('ed'), ('wendy'), ('mary'), ('fred')]

### Aliases

The name given to a full entity such as User, assuming that multiple entities are present in the call to query(), can be controlled using aliased()

In [139]:
from sqlalchemy.orm import aliased

In [140]:
user_alias = aliased(User, name='user_alias')

In [141]:
query = session.query(user_alias.name, user_alias.password)

In [142]:
query.all()

2018-09-08 19:32:16,792 INFO sqlalchemy.engine.base.Engine SELECT user_alias.name AS user_alias_name, user_alias.password AS user_alias_password
FROM users AS user_alias
2018-09-08 19:32:16,793 INFO sqlalchemy.engine.base.Engine {}

[('ed', 'ed_password_updated'),
 ('wendy', 'foobar'),
 ('mary', 'xxg527'),
 ('fred', 'blah')]

## Order-by

In [143]:
query = session.query(User)

In [144]:
query = query.order_by(User.id)

In [145]:
query[1:3]

2018-09-08 19:42:36,179 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
 LIMIT %(param_1)s OFFSET %(param_2)s
2018-09-08 19:42:36,180 INFO sqlalchemy.engine.base.Engine {'param_1': 2, 'param_2': 1}

## filter_by() vs filter()

In [146]:
query = session.query(User)

### 1. filter_by()

In [147]:
query = session.query(User.name)

In [150]:
query = query.filter_by(name='ed')

In [151]:
query.all()

2018-09-08 19:52:04,130 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE users.name = %(name_1)s
2018-09-08 19:52:04,131 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

[('ed')]

### 2. filter()

In [152]:
query = session.query(User)

In [153]:
query = query.filter(User.name=='ed')

In [154]:
query.all()

2018-09-08 19:53:08,959 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-09-08 19:53:08,960 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

**Note:** The Query object is fully generative, meaning that most method calls return a new Query object upon which further criteria may be added

In [156]:
user_ed

In [157]:
query = session.query(User)

In [158]:
query = query.filter(User.name=='ed')

In [159]:
query = query.filter(User.password=='ed_password_updated')

In [160]:
query.all()

2018-09-08 19:58:04,526 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s AND users.password = %(password_1)s
2018-09-08 19:58:04,527 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'password_1': 'ed_password_updated'}

## Filter operators

In [161]:
query = session.query(User)

In [163]:
query.filter(User.name == 'ed').all()

2018-09-08 19:59:55,685 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-09-08 19:59:55,687 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

In [164]:
query.filter(User.name != 'ed').all()

2018-09-08 20:00:05,292 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name != %(name_1)s
2018-09-08 20:00:05,294 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

[<User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

In [166]:
query.filter(User.name.like('%ar%')).all()

2018-09-08 20:03:14,572 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name LIKE %(name_1)s
2018-09-08 20:03:14,574 INFO sqlalchemy.engine.base.Engine {'name_1': '%ar%'}

In [167]:
query.filter(User.name.ilike('%AR%')).all()

2018-09-08 20:04:52,577 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name ILIKE %(name_1)s
2018-09-08 20:04:52,578 INFO sqlalchemy.engine.base.Engine {'name_1': '%AR%'}

In [169]:
query.filter(User.name.in_(['ed', 'mary'])).all()

2018-09-08 20:05:44,443 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name IN (%(name_1)s, %(name_2)s)
2018-09-08 20:05:44,445 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'name_2': 'mary'}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=mary, password=xxg527)>]

In [170]:
query.filter(User.name == None).all()

2018-09-08 20:06:20,713 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name IS NULL
2018-09-08 20:06:20,714 INFO sqlalchemy.engine.base.Engine {}

[]

In [171]:
query.filter(User.name != None).all()

2018-09-08 20:07:18,314 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name IS NOT NULL
2018-09-08 20:07:18,315 INFO sqlalchemy.engine.base.Engine {}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

In [172]:
from sqlalchemy import and_
query.filter(and_(User.name == 'ed', User.password == 'ed_password_updated')).all()

2018-09-08 20:08:51,045 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s AND users.password = %(password_1)s
2018-09-08 20:08:51,046 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'password_1': 'ed_password_updated'}

In [175]:
from sqlalchemy import or_
query.filter(or_(User.name == 'ed', User.name.in_(['mary', 'Elon']))).all()

2018-09-08 20:10:11,869 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s OR users.name IN (%(name_2)s, %(name_3)s)
2018-09-08 20:10:11,870 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'name_2': 'mary', 'name_3': 'Elon'}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=mary, password=xxg527)>]

In [180]:
query.filter(User.name.match('mArY')).all()  # Implementation of 'match' is database backend dependent

2018-09-08 20:12:49,973 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name @@ to_tsquery(%(name_1)s)
2018-09-08 20:12:49,974 INFO sqlalchemy.engine.base.Engine {'name_1': 'mArY'}

## Returning lists and scalars

In [181]:
query = session.query(User)

In [182]:
query.all()

2018-09-08 20:28:55,573 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-08 20:28:55,574 INFO sqlalchemy.engine.base.Engine {}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

In [183]:
query.first()

2018-09-08 20:29:09,173 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
 LIMIT %(param_1)s
2018-09-08 20:29:09,175 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

In [186]:
query.one()  # Raises an exception (MultipleResultsFound) if muliple results are found

2018-09-08 20:30:27,447 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-08 20:30:27,449 INFO sqlalchemy.engine.base.Engine {}

MultipleResultsFound: Multiple rows were found for one()

In [188]:
query.filter(User.name == 'floyd').one()  # Raise an exception (NoResultFound) if no results are found

2018-09-08 20:31:47,648 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-09-08 20:31:47,649 INFO sqlalchemy.engine.base.Engine {'name_1': 'floyd'}

NoResultFound: No row was found for one()

In [189]:
query.one_or_none()

2018-09-08 20:32:42,180 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-08 20:32:42,181 INFO sqlalchemy.engine.base.Engine {}

MultipleResultsFound: Multiple rows were found for one_or_none()

In [190]:
query.scalar()

2018-09-08 20:33:06,707 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
2018-09-08 20:33:06,708 INFO sqlalchemy.engine.base.Engine {}

MultipleResultsFound: Multiple rows were found for one()

## Using textual SQL

In [191]:
from sqlalchemy import text

In [192]:
query =  session.query(User)

In [198]:
query = query.filter(text('id<=3')).order_by(text('id'))

In [199]:
query.all()

2018-09-08 21:41:31,903 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE id<=3 ORDER BY id
2018-09-08 21:41:31,904 INFO sqlalchemy.engine.base.Engine {}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>]

### Bind parameters

In [226]:
query = session.query(User)

In [227]:
query = query.filter(text("id<=:value")).params(value=5)

In [228]:
query.all()

2018-09-08 22:02:38,020 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-08 22:02:38,021 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE id<=%(value)s
2018-09-08 22:02:38,022 INFO sqlalchemy.engine.base.Engine {'value': 5}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

In [214]:
# Injection attempt: parameteization can help!
# query = query.filter(text("id<=:value")).params(value='5 AND id>2' )

In [229]:
# The session may need to be rolled back
# session.rollback()

### from_statement

In [230]:
query =  session.query(User)

In [231]:
query = query.from_statement(
    text(
        'SELECT * FROM users where id<=:value'
    ).params(value=4)
)

In [232]:
query.all()

2018-09-08 22:12:37,166 INFO sqlalchemy.engine.base.Engine SELECT * FROM users where id<=%(value)s
2018-09-08 22:12:37,168 INFO sqlalchemy.engine.base.Engine {'value': 4}

[<User(name=ed, password=ed_password_updated)>,
 <User(name=wendy, password=foobar)>,
 <User(name=mary, password=xxg527)>,
 <User(name=fred, password=blah)>]

### Mapping columns positionally

Matching columns on name works for simple cases but can become unwieldy when dealing with complex statements that contain duplicate column names or when using anonymized ORM constructs that don’t easily match to specific names. Additionally, there is typing behavior present in our mapped columns that we might find necessary when handling result rows. For these cases, the text() construct allows us to link its textual SQL to Core or ORM-mapped column expressions positionally; we can achieve this by passing column expressions as positional arguments to the TextClause.columns() method:

In [275]:
statement = text(
    'SELECT user_name, password, id from user where id<=:value'
)

In [276]:
satement = statement.columns(User.name, User.password, User.id)

In [277]:
query = session.query(User)

In [278]:
query = query.from_statement(statement).params(value=5)

In [279]:
query.all()

2018-09-08 22:32:32,566 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-08 22:32:32,567 INFO sqlalchemy.engine.base.Engine SELECT user_name, password, id from user where id<=%(value)s
2018-09-08 22:32:32,568 INFO sqlalchemy.engine.base.Engine {'value': 5}

ProgrammingError: (psycopg2.ProgrammingError) column "user_name" does not exist
LINE 1: SELECT user_name, password, id from user where id<=5
               ^
 [SQL: 'SELECT user_name, password, id from user where id<=%(value)s'] [parameters: {'value': 5}] (Background on this error at: http://sqlalche.me/e/f405)

In [307]:
session.rollback()

2018-09-08 22:40:07,238 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [308]:
statement = text('SELECT name, id, password FROM users where name:=name')

In [309]:
statement = statement.columns(User.name, User.id, User.password)

In [310]:
query = session.query(User).from_statement(statement).params(name='ed')

In [311]:
query.all()

2018-09-08 22:40:08,032 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-08 22:40:08,033 INFO sqlalchemy.engine.base.Engine SELECT name, id, password FROM users where name:=name
2018-09-08 22:40:08,034 INFO sqlalchemy.engine.base.Engine {}

ProgrammingError: (psycopg2.ProgrammingError) syntax error at or near ":="
LINE 1: SELECT name, id, password FROM users where name:=name
                                                       ^
 [SQL: 'SELECT name, id, password FROM users where name:=name'] (Background on this error at: http://sqlalche.me/e/f405)

In [313]:
session.rollback()

2018-09-08 22:40:33,497 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [314]:
stmt = text("SELECT name, id, password "
            "FROM users where name=:name")
stmt = stmt.columns(User.name, User.id, User.password)
session.query(User).from_statement(stmt).params(name='ed').all()

2018-09-08 22:40:34,731 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-08 22:40:34,732 INFO sqlalchemy.engine.base.Engine SELECT name, id, password FROM users where name=%(name)s
2018-09-08 22:40:34,733 INFO sqlalchemy.engine.base.Engine {'name': 'ed'}

## Counting

In [329]:
session.rollback()

2018-09-08 22:44:16,470 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [332]:
query = session.query(User).filter(User.name.like('%ed%'))

In [333]:
query.count()

2018-09-08 22:44:24,250 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.password AS users_password
FROM users
WHERE users.name LIKE %(name_1)s) AS anon_1
2018-09-08 22:44:24,251 INFO sqlalchemy.engine.base.Engine {'name_1': '%ed%'}

2

### Count each distinct username

In [336]:
from sqlalchemy import func
query = session.query(User.name, func.count(User.name)).group_by(User.name)

In [337]:
query.all()

2018-09-08 22:48:58,158 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, count(users.name) AS count_1
FROM users GROUP BY users.name
2018-09-08 22:48:58,158 INFO sqlalchemy.engine.base.Engine {}

[('mary', 1), ('fred', 1), ('ed', 1), ('wendy', 1)]